@model IEnumerable<Data.ViewModel.DataModel>
<table class="table">
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.StateName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.PlaceName)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Year)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.DisadvantageScore)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.AdvantageDisadvantageScore)
		</th>

	</tr>

	@foreach (var item in Model)
	{
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.StateName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PlaceName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Year)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DisadvantageScore)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.AdvantageDisadvantageScore)
			</td>
		</tr>
	}

</table>

